In [ ]:
# 9. Write a code for Creating a Series from Scalar Value
import pandas as pd
import numpy as np
ser = pd.Series(7, index=['A', 'B', 'C', 'D'])
print(ser)

A    7
B    7
C    7
D    7
dtype: int64

In [ ]:
# 12. Write a python program to create two user defined list and find their sum.
list1 = []
num_elements = int(input("Enter the number of elements for the first list: "))
for i in range(num_elements):
  list1.append(int(input("Enter element {}: ".format(i+1))))
list2 = []
num_elements = int(input("Enter the number of elements for the second list: "))
for i in range(num_elements):
  list2.append(int(input("Enter element {}: ".format(i+1))))
sum_list = [list1[i] + list2[i] for i in range(len(list1))]
print("The sum of the two lists is:", sum_list)

Enter the number of elements for the first list: 1
Enter element 1: 2
Enter the number of elements for the second list: 2
Enter element 1: 3
Enter element 2: 2
The sum of the two lists is: [5]

In [ ]:
# 13. Create a dictionary having keys as the week number and values as the week names
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
week_numbers = {i: weekdays[i % 7] for i in range(1, 53)}
print(week_numbers)

{1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday', 7: 'Monday', 8: 'Tuesday', 9: 'Wednesday', 10: 'Thursday', 11: 'Friday', 12: 'Saturday', 13: 'Sunday', 14: 'Monday', 15: 'Tuesday', 16: 'Wednesday', 17: 'Thursday', 18: 'Friday', 19: 'Saturday', 20: 'Sunday', 21: 'Monday', 22: 'Tuesday', 23: 'Wednesday', 24: 'Thursday', 25: 'Friday', 26: 'Saturday', 27: 'Sunday', 28: 'Monday', 29: 'Tuesday', 30: 'Wednesday', 31: 'Thursday', 32: 'Friday', 33: 'Saturday', 34: 'Sunday', 35: 'Monday', 36: 'Tuesday', 37: 'Wednesday', 38: 'Thursday', 39: 'Friday', 40: 'Saturday', 41: 'Sunday', 42: 'Monday', 43: 'Tuesday', 44: 'Wednesday', 45: 'Thursday', 46: 'Friday', 47: 'Saturday', 48: 'Sunday', 49: 'Monday', 50: 'Tuesday', 51: 'Wednesday', 52: 'Thursday'}

In [ ]:
# 14. Series object temp1,temp2,temp3,temp4 stores temprature of days of week 1,week2,week3,week4. Write python code to
#1. Print average temprature per week.
#2.Print average temperature of entire month.
temp1 = pd.Series([25, 28, 26, 24, 27], index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
temp2 = pd.Series([27, 29, 26, 28, 30], index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
temp3 = pd.Series([26, 27, 25, 24, 26], index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
temp4 = pd.Series([28, 30, 29, 31, 32], index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
avg_temp_per_week = (temp1 + temp2 + temp3 + temp4) / 4
avg_temp_month = (temp1.sum() + temp2.sum() + temp3.sum() + temp4.sum()) / (len(temp1) * 4)
print("Average temperature per week:")
print(avg_temp_per_week)
print()
print("Average temperature for the entire month:", avg_temp_month)

Average temperature per week:
Mon    26.50
Tue    28.50
Wed    26.50
Thu    26.75
Fri    28.75
dtype: float64

Average temperature for the entire month: 27.4

In [ ]:
#15.Write a program to create a Dataframe storing salesman details(name,zone,sale) of 5 salesman.
data = {
    'Name': ['John', 'Alice', 'Bob', 'Eve', 'Mike'],
    'Zone': ['North', 'South', 'East', 'West', 'Central'],
    'Sale': [5000, 6000, 4500, 7000, 5500]
}
df = pd.DataFrame(data)
print(df)

    Name     Zone  Sale
0   John    North  5000
1  Alice    South  6000
2    Bob     East  4500
3    Eve     West  7000
4   Mike  Central  5500

In [ ]:
#16. Write  program to create a series object that store table of 5.
table_of_5 = pd.Series([5*i for i in range(1, 11)])
print(table_of_5)

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64

In [ ]:
# 17. Write a program to read details such as product information in Dataframe and then store it in CSV FILE.
data = {
    'ProductID': [101, 102, 103, 104],
    'Product Name': ['Laptop', 'Smartphone', 'Headphones', 'Tablet'],
    'Price': [1200, 800, 100, 300]
}
df = pd.DataFrame(data)
print("Product Information:")
print(df)
df.to_csv('product_information.csv', index=False)
print("\nDataFrame stored in product_information.csv")

Product Information:
   ProductID Product Name  Price
0        101       Laptop   1200
1        102   Smartphone    800
2        103   Headphones    100
3        104       Tablet    300

DataFrame stored in product_information.csv