In [ ]:
def u(Y):
    x = []
    for i in Y:
        if i not in x:
            x.append(i)
    return x
print(u([1,2,3,3,4]))

[1, 2, 3, 4]

In [ ]:
def outf():
    def inf():
        print("This is Yuva")
    inf()
outf()

This is Yuva

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7]
for i in range(1, len(l), 2):
    print(l[i])

2
4
6

In [ ]:
r = 5
for i in range(1, r + 1):
    print("* " * i)
for i in range(r - 1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input())
sum = 0
for i in range(1, n+1):
    sum += i
print(sum)

28
406

In [ ]:
import pandas as pd
us

0     60
1     70
2     80
3     90
4    100
5    110
6     70
7     80
8     90
dtype: int64