In [1]:
import pandas as pd

In [2]:
S1 = pd.Series(['y', 'u', 'v', 'a'])
print(S1)

0    y
1    u
2    v
3    a
dtype: object

In [3]:
S1 = pd.Series([30000]*4, index=['Q1', 'Q2', 'Q3', 'Q4'])
print(S1)

Q1    30000
Q2    30000
Q3    30000
Q4    30000
dtype: int64

In [4]:
S1 = pd.Series(range(0, 70, 7))
print(S1)

0     0
1     7
2    14
3    21
4    28
5    35
6    42
7    49
8    56
9    63
dtype: int64

In [5]:
hindi_marks = {'Section1': 85, 'Section2': 90, 'Section3': 78, 'Section4': 92}
S1 = pd.Series(hindi_marks)
print(S1)

Section1    85
Section2    90
Section3    78
Section4    92
dtype: int64

In [6]:
S1 = pd.Series(200, index=range(2002, 2024, 2))
print(S1)

2002    200
2004    200
2006    200
2008    200
2010    200
2012    200
2014    200
2016    200
2018    200
2020    200
2022    200
dtype: int64

In [7]:
data = {'Section 1': 106, 'Section 2': 155, 'Section 3': 120, 'Section 4': 180, 'Section 5': 160}
c = pd.Series(data)
c['Section 2'] = 200
c[['Section 4', 'Section 5']] = 140, 115
print(c)

Section 1    106
Section 2    200
Section 3    120
Section 4    140
Section 5    115
dtype: int64

In [8]:
A1 = pd.Series({'Science': 200, 'Commerce': 150, 'Humanities': 100})
A2 = pd.Series({'Science': 180, 'Commerce': 170, 'Humanities': 90})
t = A1.add(A2)
print(t)

Science       380
Commerce      320
Humanities    190
dtype: int64

In [9]:
population = pd.Series({'Vijayawada': 5000000, 'Vizag': 3500000, 'Chennai': 4500000, 'Delhi': 6000000})
average_income = pd.Series({'Vijayawada': 600000, 'Vizag': 750000, 'Chennai': 550000, 'Delhi': 800000})
income = average_income / population
print(income)

Vijayawada    0.120000
Vizag         0.214286
Chennai       0.122222
Delhi         0.133333
dtype: float64