In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
ser=pd.Series()
print(ser)

Series([], dtype: object)

In [3]:
import numpy as np
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [4]:
data=np.array(['g','e','e','k'])
ses=pd.Series(data, index=[10,11,12,13])
print(ses)

10    g
11    e
12    e
13    k
dtype: object

In [5]:
list=['a','k','e','s']
ser=pd.Series(list)
print(ser)

0    a
1    k
2    e
3    s
dtype: object

In [6]:
dict={'Geeks' : 10,'for' : 20, 'geeks' : 30}
ser=pd.Series(dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [7]:
ser=pd.Series(10, index=[0,1,2])
print(ser)

0    10
1    10
2    10
dtype: int64