In [ ]:
list1 = []
list2 = []
for i in range(2):
    e1 = input("Enter element for list1: ")
    e2 = input("Enter element for list2: ")
    list1.append(e1)
    list2.append(e2)2
list3=list1+list2
print(list3)

Enter element for list1: 1
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2:
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
Enter element for list1: 2
Enter element for list2: 2
['1', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '2', '', '2', '2', '2', '2', '2', '2', '2']

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd
ser=pd.Series()
print(ser)

Series([], dtype: float64)

<ipython-input-1-023d9e7f7c92>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser=pd.Series()

In [ ]:
import numpy as np
data=np.array(['g','e','e','k','s'])
ser=pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:
data=np.array(['g','e','e','k'])
ses=pd.Series(data, index=[10,11,12,13])
print(ses)

10    g
11    e
12    e
13    k
dtype: object

In [ ]:
list=['a','k','e','s']
ser=pd.Series(list)
print(ser)

0    a
1    k
2    e
3    s
dtype: object

In [ ]:
dict={'Geeks' : 10,'for' : 20, 'geeks' : 30}
ser=pd.Series(dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [ ]:
ser=pd.Series(10, index=[0,1,2])
print(ser)

0    10
1    10
2    10
dtype: int64